html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

input {
  text-align: center;
  font-size: 28px;
  border: 4px solid lightskyblue;
  border-radius: 7px;
  background-color: white;
  color: black;
}

input:disabled {
  border: 2px solid black;
}

.won {
  background-color: green;
}